extends layout 

block content 

  form(post='/create' method='POST')
    label(for='message') Message:
    textarea(name='message' placeholder='Message' type='text' value='')
    button create message

  if errors 
    ul
      each error in errors 
        li #{error.msg}
      
    