extends layout

block content
  form(post='/create' method='POST' class='form-container')
    label(for='message') Message:
    textarea(name='message' placeholder='Message' type='text' value='' required)
    button.create-message Create Message

  if errors
    ul
      each error in errors
        li #{error.msg}
