extends layout

block content

  // Размещаем кнопки "Join Club" и "Create New Message" на одной строке
  div(class='button-row')
    if user && !user.isMember
      a(href='/join')
        button.join-club Join Club
        
    if user && user.isMember
      a(href='/create')
        button.create-message Create New Message

  // Контейнер для сообщений, центрируем по странице и добавляем границы
  div(class='message-container')
    if listMsg.length > 0
      each msg in listMsg
        div(class='message-item')
          div(class='message-header')
            p #{user ? msg.user.username : 'Unknown'}
            p #{user ? msg.formattedDate : 'Unknown'}
          div(class='message-content')
            p(style='margin-top: 15px') #{msg.content}
            if user && user.isAdmin
              form(action=`/delete/${msg._id}`, method='POST')
                button.delete-button Delete
    else
      p.no-messages No messages found
