extends layout 

block content


  if listMsg 
     each msg in listMsg 
      p #{msg.content} 
      p #{user? user.username : 'unknown'}
      p #{user? msg.date : 'unknown'}
  else 
    p СООБЩЕНИЙ ПОКА НЕТ! 
    //-if user
    //-   if user.isMember
    //-     h1 WELCOME BACK #{user.username}
    //-     a(href="/log-out") LOG OUT
    //-   else 
    //-     p войдите
    //- else 
    //-    p пшол вон
