extends layout 

block content

  if (user && !user.isMember)
    a(href='/join')
        button join club
        
  if user
      if user.isMember 
        a(href='/create')
          button create new message
  if listMsg.length > 0 
     each msg in listMsg 
      p #{msg.content} 
      p #{user? user.username : 'unknown'}
      p #{user? msg.formattedDate : 'unknown'}
      if (user && user.isAdmin) 
        form(action=`/delete/${msg._id}` method='POST')
          button Delete
  else
    p No messages found
    
