doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user 
      a(href='/log-out')
        button log-out 
      a(href='/join')
        button join club
    else
      a(href='/log-in')
        button log-in
      a(href='/sign-up')
        button sign-up

    block content
    if user
      if user.isMember 
        a(href='/create')
          button create new message
