doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .logo
        a(href='/') SecretClub
      nav
        if user
          a(href='/log-out') Log-out
        else
          a(href='/log-in') Log-in
          a(href='/sign-up') Sign-up

    block content
