extends layout

block content 
  
  h1 please log in
  form(action="/log-in" method="POST")
    label(for="username") Username
    input(name="username" placeholder="username" type="text" value="")
    label(for="password") Password
    input(name="password" type="password" value="")
    button Log In
 
  if error 
    p #{error}

