extends layout

block content
  .form-container
    h1 Log In
    form(action="/log-in" method="POST")
      label(for="username") Username
      input(name="username" placeholder="username" type="text" value="" required)
      label(for="password") Password
      input(name="password" placeholder='password' type="password" value="" required)
      button(type="submit") Log In

    if error
      p= error
