/* Общие стили для всего документа */
body {
  font-family: Georgia, sans-serif; /* Устанавливаем шрифт для всего документа */
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы по умолчанию */
}
/* Стили для шапки страницы */
header {
  display: flex; /* Устанавливаем flexbox-контейнер для расположения элементов в строку */
  justify-content: space-between; /* Распределяем элементы внутри flexbox-контейнера таким образом, чтобы они занимали всю доступную ширину с равными промежутками между ними */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  padding: 10px 20px; /* Внешний отступ внутри шапки */
  background-color: white; /* Цвет фона */
}

/* Стили для логотипа */
.logo {
  margin-left: 128px;
  font-size: 24px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
}

.logo a {
  text-decoration: none;
  color: red
}

/* Стили для навигационной панели */
nav {
  display: flex; /* Устанавливаем flexbox-контейнер для расположения элементов в строку */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  margin-right: 60px;
}

/* Стили для ссылок в навигационной панели */
nav a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  margin-left: 10px; /* Внешний отступ слева */
  font-weight: bold; /* Жирный шрифт */
  position: relative;
  color: black
}

nav a::after {
  content: ''; /* Добавляем пустой контент */
  position: absolute; /* Абсолютное позиционирование относительно родительского элемента */
  left: 0; /* Выравниваем по левому краю */
  bottom: -2px; /* Отступ от нижней границы */
  width: 100%; /* Ширина подчеркивания равна ширине текста */
  height: 2px; /* Высота подчеркивания */
  background-color: black; /* Цвет подчеркивания (синий) */
  transform: scaleX(0); /* Начальное состояние: подчеркивание не видимо */
  transition: transform 0.3s ease; /* Плавное изменение ширины подчеркивания */
}

/* Стили для текстовых ссылок log-in и sign-up при наведении */
nav a:hover::after {
  transform: scaleX(1); /* Плавно увеличиваем ширину подчеркивания до 100% при наведении */
}

/* Стили для кнопок */
button {
  padding: 8px 16px; /* Внутренний отступ кнопки */
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  border: none; /* Убираем границу */
  cursor: pointer; /* Изменяем курсор при наведении */
}

/* Стили для кнопок при наведении */
button:hover {
  background-color: #0056b3; /* Изменяем цвет фона при наведении */
}

